In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn import preprocessing

In [2]:
Train = pd.read_csv("E:/minor project/NSL_KDD_Train.csv")
Test = pd.read_csv("E:/minor project/NSL_KDD_Test.csv")
#data read

In [3]:
Train.shape
#no of row and column

(125972, 42)

In [4]:
Test.shape

(22543, 42)

In [5]:
Train.head()

,0,tcp,ftp_data,SF,491,0.1,0.2,0.3,0.4,0.5,...,25,0.17,0.03,0.17.1,0.25,0.26,0.27,0.05,0.28,normal
0,0,udp,other,SF,146,0,0,0,0,0,...,1,0.00,0.60,0.88,0.00,0.00,0.00,0.0,0.00,normal
1,0,tcp,private,S0,0,0,0,0,0,0,...,26,0.10,0.05,0.00,0.00,1.00,1.00,0.0,0.00,neptune
2,0,tcp,http,SF,232,8153,0,0,0,0,...,255,1.00,0.00,0.03,0.04,0.03,0.01,0.0,0.01,normal
3,0,tcp,http,SF,199,420,0,0,0,0,...,255,1.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,normal
4,0,tcp,private,REJ,0,0,0,0,0,0,...,19,0.07,0.07,0.00,0.00,0.00,0.00,1.0,1.00,neptune

In [6]:
Test.head()

,0,tcp,private,REJ,0.1,0.2,0.3,0.4,0.5,0.6,...,10.1,0.04.1,0.06.1,0.22,0.23,0.24,0.25,1.2,1.3,neptune
0,0,tcp,private,REJ,0,0,0,0,0,0,...,1,0.00,0.06,0.00,0.00,0.00,0.0,1.00,1.00,neptune
1,2,tcp,ftp_data,SF,12983,0,0,0,0,0,...,86,0.61,0.04,0.61,0.02,0.00,0.0,0.00,0.00,normal
2,0,icmp,eco_i,SF,20,0,0,0,0,0,...,57,1.00,0.00,1.00,0.28,0.00,0.0,0.00,0.00,saint
3,1,tcp,telnet,RSTO,0,15,0,0,0,0,...,86,0.31,0.17,0.03,0.02,0.00,0.0,0.83,0.71,mscan
4,0,tcp,http,SF,267,14515,0,0,0,0,...,255,1.00,0.00,0.01,0.03,0.01,0.0,0.00,0.00,normal

In [7]:
column_names = [
    "duration", "protocol_type", "service", "flag", "src_bytes", "dst_bytes",
    "land", "wrong_fragment", "urgent", "hot", "num_failed_logins",
    "logged_in", "num_compromised", "root_shell", "su_attempted", "num_root",
    "num_file_creations", "num_shells", "num_access_files", "num_outbound_cmds",
    "is_host_login", "is_guest_login", "count", "srv_count", "serror_rate",
    "srv_serror_rate", "rerror_rate", "srv_rerror_rate", "same_srv_rate",
    "diff_srv_rate", "srv_diff_host_rate", "dst_host_count", "dst_host_srv_count",
    "dst_host_same_srv_rate", "dst_host_diff_srv_rate", "dst_host_same_src_port_rate",
    "dst_host_srv_diff_host_rate", "dst_host_serror_rate", "dst_host_srv_serror_rate",
    "dst_host_rerror_rate", "dst_host_srv_rerror_rate", "label"
]

Train.columns = column_names
Test.columns = column_names
#column naming

In [8]:
Train.head()

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,label
0,0,udp,other,SF,146,0,0,0,0,0,...,1,0.00,0.60,0.88,0.00,0.00,0.00,0.0,0.00,normal
1,0,tcp,private,S0,0,0,0,0,0,0,...,26,0.10,0.05,0.00,0.00,1.00,1.00,0.0,0.00,neptune
2,0,tcp,http,SF,232,8153,0,0,0,0,...,255,1.00,0.00,0.03,0.04,0.03,0.01,0.0,0.01,normal
3,0,tcp,http,SF,199,420,0,0,0,0,...,255,1.00,0.00,0.00,0.00,0.00,0.00,0.0,0.00,normal
4,0,tcp,private,REJ,0,0,0,0,0,0,...,19,0.07,0.07,0.00,0.00,0.00,0.00,1.0,1.00,neptune

In [9]:
Train.info()
Test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125972 entries, 0 to 125971
Data columns (total 42 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   duration                     125972 non-null  int64
 1   protocol_type                125972 non-null  object
 2   service                      125972 non-null  object
 3   flag                         125972 non-null  object
 4   src_bytes                    125972 non-null  int64
 5   dst_bytes                    125972 non-null  int64
 6   land                         125972 non-null  int64
 7   wrong_fragment               125972 non-null  int64
 8   urgent                       125972 non-null  int64
 9   hot                          125972 non-null  int64
 10  num_failed_logins            125972 non-null  int64
 11  logged_in                    125972 non-null  int64
 12  num_compromised              125972 non-null  int64
 13  root_shell                   125972 non-null  int64
 14  su_attempted                 125972 non-null  int64
 15  num_root                     125972 non-null  int64
 16  num_file_creations           125972 non-null  int64
 17  num_shells                   125972 non-null  int64
 18  num_access_files             125972 non-null  int64
 19  num_outbound_cmds            125972 non-null  int64
 20  is_host_login                125972 non-null  int64
 21  is_guest_login               125972 non-null  int64
 22  count                        125972 non-null  int64
 23  srv_count                    125972 non-null  int64
 24  serror_rate                  125972 non-null  float64
 25  srv_serror_rate              125972 non-null  float64
 26  rerror_rate                  125972 non-null  float64
 27  srv_rerror_rate              125972 non-null  float64
 28  same_srv_rate                125972 non-null  float64
 29  diff_srv_rate                125972 non-null  float64
 30  srv_diff_host_rate           125972 non-null  float64
 31  dst_host_count               125972 non-null  int64
 32  dst_host_srv_count           125972 non-null  int64
 33  dst_host_same_srv_rate       125972 non-null  float64
 34  dst_host_diff_srv_rate       125972 non-null  float64
 35  dst_host_same_src_port_rate  125972 non-null  float64
 36  dst_host_srv_diff_host_rate  125972 non-null  float64
 37  dst_host_serror_rate         125972 non-null  float64
 38  dst_host_srv_serror_rate     125972 non-null  float64
 39  dst_host_rerror_rate         125972 non-null  float64
 40  dst_host_srv_rerror_rate     125972 non-null  float64
 41  label                        125972 non-null  object
dtypes: float64(15), int64(23), object(4)
memory usage: 40.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22543 entries, 0 to 22542
Data columns (total 42 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   duration                     22543 non-null  int64
 1   protocol_type                22543 non-null  object
 2   service                      22543 non-null  object
 3   flag                         22543 non-null  object
 4   src_bytes                    22543 non-null  int64
 5   dst_bytes                    22543 non-null  int64
 6   land                         22543 non-null  int64
 7   wrong_fragment               22543 non-null  int64
 8   urgent                       22543 non-null  int64
 9   hot                          22543 non-null  int64
 10  num_failed_logins            22543 non-null  int64
 11  logged_in                    22543 non-null  int64
 12  num_compromised              22543 non-null  int64
 13  root_shell                   22543 non-null  int64
 14  su_attempted                 22543 non-null  int64
 15  num_root                     22543 non-null  int64
 16  num_file_creations           22543 non-null  int64
 17  num_shells                   22543 non-null  int64
 18  num_access_files             22543 non-null  int64
 19  num_outbound_cmds            22543 non-null  int64
 20  is_host_login                22543 non-null  int64
 21  is_guest_login               22543 non-null  int64
 22  count                        22543 non-null  int64
 23  srv_count                    22543 non-null  int64
 24  serror_rate                  22543 non-null  float64
 25  srv_serror_rate              22543 non-null  float64
 26  rerror_rate                  22543 non-null  float64
 27  srv_rerror_rate              22543 non-null  float64
 28  same_srv_rate                22543 non-null  float64
 29  diff_srv_rate                22543 non-null  float64
 30  srv_diff_host_rate           22543 non-null  float64
 31  dst_host_count               22543 non-null  int64
 32  dst_host_srv_count           22543 non-null  int64
 33  dst_host_same_srv_rate       22543 non-null  float64
 34  dst_host_diff_srv_rate       22543 non-null  float64
 35  dst_host_same_src_port_rate  22543 non-null  float64
 36  dst_host_srv_diff_host_rate  22543 non-null  float64
 37  dst_host_serror_rate         22543 non-null  float64
 38  dst_host_srv_serror_rate     22543 non-null  float64
 39  dst_host_rerror_rate         22543 non-null  float64
 40  dst_host_srv_rerror_rate     22543 non-null  float64
 41  label                        22543 non-null  object
dtypes: float64(15), int64(23), object(4)
memory usage: 7.2+ MB

In [10]:
print('Traindata')
for col_name in Train.columns:
  if Train[col_name].dtypes == 'object' :
    unique_cat = len(Train[col_name].unique())
    print("Feature '{col_name}' has {unique_cat} categories".format(col_name=col_name, unique_cat=unique_cat))

Traindata
Feature 'protocol_type' has 3 categories
Feature 'service' has 70 categories
Feature 'flag' has 11 categories
Feature 'label' has 23 categories

In [11]:
print('Testdata')
for col_name in Test.columns:
  if Test[col_name].dtypes == 'object' :
    unique_cat = len(Test[col_name].unique())
    print("Feature '{col_name}' has {unique_cat} categories".format(col_name=col_name, unique_cat=unique_cat))

Testdata
Feature 'protocol_type' has 3 categories
Feature 'service' has 64 categories
Feature 'flag' has 11 categories
Feature 'label' has 38 categories

In [12]:
Train.describe(include=object)

       protocol_type service    flag   label
count         125972  125972  125972  125972
unique             3      70      11      23
top              tcp    http      SF  normal
freq          102688   40338   74944   67342

In [13]:
Test.describe(include=object)

       protocol_type service   flag   label
count          22543   22543  22543   22543
unique             3      64     11      38
top              tcp    http     SF  normal
freq           18879    7853  14875    9711

In [14]:
Train.isnull().sum()
#null value

duration                       0
protocol_type                  0
service                        0
flag                           0
src_bytes                      0
dst_bytes                      0
land                           0
wrong_fragment                 0
urgent                         0
hot                            0
num_failed_logins              0
logged_in                      0
num_compromised                0
root_shell                     0
su_attempted                   0
num_root                       0
num_file_creations             0
num_shells                     0
num_access_files               0
num_outbound_cmds              0
is_host_login                  0
is_guest_login                 0
count                          0
srv_count                      0
serror_rate                    0
srv_serror_rate                0
rerror_rate                    0
srv_rerror_rate                0
same_srv_rate                  0
diff_srv_rate                  0
srv_diff_host_rate             0
dst_host_count                 0
dst_host_srv_count             0
dst_host_same_srv_rate         0
dst_host_diff_srv_rate         0
dst_host_same_src_port_rate    0
dst_host_srv_diff_host_rate    0
dst_host_serror_rate           0
dst_host_srv_serror_rate       0
dst_host_rerror_rate           0
dst_host_srv_rerror_rate       0
label                          0
dtype: int64

In [15]:
Test.isnull().sum()

duration                       0
protocol_type                  0
service                        0
flag                           0
src_bytes                      0
dst_bytes                      0
land                           0
wrong_fragment                 0
urgent                         0
hot                            0
num_failed_logins              0
logged_in                      0
num_compromised                0
root_shell                     0
su_attempted                   0
num_root                       0
num_file_creations             0
num_shells                     0
num_access_files               0
num_outbound_cmds              0
is_host_login                  0
is_guest_login                 0
count                          0
srv_count                      0
serror_rate                    0
srv_serror_rate                0
rerror_rate                    0
srv_rerror_rate                0
same_srv_rate                  0
diff_srv_rate                  0
srv_diff_host_rate             0
dst_host_count                 0
dst_host_srv_count             0
dst_host_same_srv_rate         0
dst_host_diff_srv_rate         0
dst_host_same_src_port_rate    0
dst_host_srv_diff_host_rate    0
dst_host_serror_rate           0
dst_host_srv_serror_rate       0
dst_host_rerror_rate           0
dst_host_srv_rerror_rate       0
label                          0
dtype: int64

In [16]:
label_mapping={
    'back':'Dos',
    'land':'Dos',
    'neptune':'Dos',
    'pod':'Dos',
    'smurf':'Dos',
    'teardrop':'Dos',
    'ipsweep':'Probe',
    'nmap':'Probe',
    'portsweep':'Probe',
    'satan':'Probe',
    'ftp_write':'R2L',
    'guess_passwd':'R2L',
    'imap':'R2L',
    'multihop':'R2L',
    'phf':'R2L',
    'spy':'R2L',
    'warezclient':'R2L',
    'warezmaster':'R2L',
    'loadmodule':'U2R',
    'buffer_overflow':'U2R',
    'rootkit':'U2R',
    'perl':'U2R',
    'normal':'Normal'
}
Train['label']=Train['label'].map(label_mapping)
Test['label']=Test['label'].map(label_mapping)
#Train['label'] = Train['label'].apply(lambda x: 'intrusive' if x != 'normal' else x)
#Test['label'] = Test['label'].apply(lambda x: 'intrusive' if x != 'normal' else x)

In [17]:
Train['label'].unique()
#get unique values

array(['Normal', 'Dos', 'R2L', 'Probe', 'U2R'], dtype=object)

In [18]:
Test['label'].unique()
#get unique values

array(['Dos', 'Normal', nan, 'R2L', 'Probe', 'U2R'], dtype=object)

In [19]:
label_encoder=preprocessing.LabelEncoder()
Train['label']=label_encoder.fit_transform(Train['label'])
print(Train['label'])
#Train.head()
#using label encoder

0         1
1         0
2         1
3         1
4         0
         ..
125967    0
125968    1
125969    1
125970    0
125971    1
Name: label, Length: 125972, dtype: int32

In [20]:
label_encoder=preprocessing.LabelEncoder()
Test['label']=label_encoder.fit_transform(Test['label'])
print(Test['label'])
Test.head()

0        0
1        1
2        5
3        5
4        1
        ..
22538    1
22539    1
22540    0
22541    1
22542    5
Name: label, Length: 22543, dtype: int32

,duration,protocol_type,service,flag,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,...,dst_host_srv_count,dst_host_same_srv_rate,dst_host_diff_srv_rate,dst_host_same_src_port_rate,dst_host_srv_diff_host_rate,dst_host_serror_rate,dst_host_srv_serror_rate,dst_host_rerror_rate,dst_host_srv_rerror_rate,label
0,0,tcp,private,REJ,0,0,0,0,0,0,...,1,0.00,0.06,0.00,0.00,0.00,0.0,1.00,1.00,0
1,2,tcp,ftp_data,SF,12983,0,0,0,0,0,...,86,0.61,0.04,0.61,0.02,0.00,0.0,0.00,0.00,1
2,0,icmp,eco_i,SF,20,0,0,0,0,0,...,57,1.00,0.00,1.00,0.28,0.00,0.0,0.00,0.00,5
3,1,tcp,telnet,RSTO,0,15,0,0,0,0,...,86,0.31,0.17,0.03,0.02,0.00,0.0,0.83,0.71,5
4,0,tcp,http,SF,267,14515,0,0,0,0,...,255,1.00,0.00,0.01,0.03,0.01,0.0,0.00,0.00,1

In [21]:
categorical_columns = ['protocol_type', 'service', 'flag']

Train_encoded = Train[categorical_columns]
Test_encoded = Test[categorical_columns]

In [22]:
Train_encoded

       protocol_type   service flag
0                udp     other   SF
1                tcp   private   S0
2                tcp      http   SF
3                tcp      http   SF
4                tcp   private  REJ
...              ...       ...  ...
125967           tcp   private   S0
125968           udp   private   SF
125969           tcp      smtp   SF
125970           tcp    klogin   S0
125971           tcp  ftp_data   SF

[125972 rows x 3 columns]

In [23]:
Test_encoded

      protocol_type   service  flag
0               tcp   private   REJ
1               tcp  ftp_data    SF
2              icmp     eco_i    SF
3               tcp    telnet  RSTO
4               tcp      http    SF
...             ...       ...   ...
22538           tcp      smtp    SF
22539           tcp      http    SF
22540           tcp      http    SF
22541           udp  domain_u    SF
22542           tcp    sunrpc   REJ

[22543 rows x 3 columns]

In [24]:
from sklearn.preprocessing import LabelEncoder

Train_categorical_values_enc=Train_encoded.apply(LabelEncoder().fit_transform)
Test_categorical_values_enc=Test_encoded.apply(LabelEncoder().fit_transform)
#label encoder

In [25]:
enc = OneHotEncoder(categories='auto')
Train_categorical_values_encenc = enc.fit_transform(Train_categorical_values_enc)
Train_cat_data=pd.DataFrame(Train_categorical_values_encenc.toarray())
Train_cat_data.head()

,0,1,2,3,4,5,6,7,8,9,...,74,75,76,77,78,79,80,81,82,83
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [26]:
enc = OneHotEncoder(categories='auto')
Test_categorical_values_encenc = enc.fit_transform(Test_categorical_values_enc)
Test_cat_data=pd.DataFrame(Test_categorical_values_encenc.toarray())
Test_cat_data.head()

,0,1,2,3,4,5,6,7,8,9,...,68,69,70,71,72,73,74,75,76,77
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [27]:
train_service_unique = set(Train['service'].unique())
test_service_unique = set(Test['service'].unique())


# Find the differences in 'service' column between train and test data
service_diff_train_test = train_service_unique.symmetric_difference(test_service_unique)

print("Differences in 'service' column between train and test data:", service_diff_train_test)

Differences in 'service' column between train and test data: {'red_i', 'aol', 'harvest', 'http_2784', 'urh_i', 'http_8001'}

In [28]:
string ='service_'
service_diff_train_test=[string + x for x in service_diff_train_test]
service_diff_train_test

['service_red_i',
 'service_aol',
 'service_harvest',
 'service_http_2784',
 'service_urh_i',
 'service_http_8001']

In [29]:
for col in service_diff_train_test:
  Test_cat_data[col] = 0

In [30]:
Train_cat_data

,0,1,2,3,4,5,6,7,8,9,...,74,75,76,77,78,79,80,81,82,83
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
125967,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
125968,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
125969,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
125970,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
125971,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [31]:
Test_cat_data

,0,1,2,3,4,5,6,7,8,9,...,74,75,76,77,service_red_i,service_aol,service_harvest,service_http_2784,service_urh_i,service_http_8001
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0,0,0,0,0,0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0,0,0,0,0,0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22538,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0,0,0,0,0,0
22539,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0,0,0,0,0,0
22540,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0,0,0,0,0,0
22541,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0,0,0,0,0,0
22542,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,0

In [32]:
#Join encoded categorical data and drop non categorical data
Train1=Train.join(Train_cat_data)
Train1.drop('flag', axis=1, inplace=True)
Train1.drop('protocol_type', axis=1, inplace=True)
Train1.drop('service', axis=1, inplace=True)

# test data
Test1=Test.join(Test_cat_data)
Test1.drop('flag', axis=1, inplace=True)
Test1.drop('protocol_type', axis=1, inplace=True)
Test1.drop('service', axis=1, inplace=True)
print(Train1.shape)
print(Test1.shape)

(125972, 123)
(22543, 123)

In [33]:
#Trains=Train1.drop("label",axis=1)

#Tests=Test1.drop("label",axis=1)

#print(Trains.shape, Tests.shape)

Data is preprocessed

In [42]:
import numpy as np

# Find the minimum and maximum values in the column
min_val = np.min(Train1)
max_val = np.max(Train1)

# Perform MinMax normalization
Traindata = (Train1 - min_val) / (max_val - min_val)

#test data
min_val = np.min(Test1)
max_val = np.max(Test1)

# Perform MinMax normalization
Testdata = (Train1 - min_val) / (max_val - min_val)

In [34]:
Train1.head()

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,...,74,75,76,77,78,79,80,81,82,83
0,0,146,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0,232,8153,0,0,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0,199,420,0,0,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0,0,0,0,0,0,0,0,0,0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [35]:
Test1.head()

,duration,src_bytes,dst_bytes,land,wrong_fragment,urgent,hot,num_failed_logins,logged_in,num_compromised,...,74,75,76,77,service_red_i,service_aol,service_harvest,service_http_2784,service_urh_i,service_http_8001
0,0,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,0
1,2,12983,0,0,0,0,0,0,0,0,...,0.0,0.0,1.0,0.0,0,0,0,0,0,0
2,0,20,0,0,0,0,0,0,0,0,...,0.0,0.0,1.0,0.0,0,0,0,0,0,0
3,1,0,15,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0,0,0,0,0,0
4,0,267,14515,0,0,0,0,0,1,0,...,0.0,0.0,1.0,0.0,0,0,0,0,0,0

In [36]:
#Testdata.columns.tolist()

In [54]:
#Traindata.columns.tolist()

In [37]:
x_test = np.delete(Test1, obj=38, axis=1)
x_test.shape

(22543, 122)

In [57]:
y_test = Test1['label']
y_test.shape

(22543,)

In [58]:
x_train = np.delete(Train1, obj=38, axis=1)
x_train.shape

(125972, 122)

In [59]:
y_train = Train['label']
y_train.shape
print(y_train)
y_test = Test['label']
y_test.shape
print(y_test)

0         1
1         0
2         1
3         1
4         0
         ..
125967    0
125968    1
125969    1
125970    0
125971    1
Name: label, Length: 125972, dtype: int32
0        0
1        1
2        5
3        5
4        1
        ..
22538    1
22539    1
22540    0
22541    1
22542    5
Name: label, Length: 22543, dtype: int32

In [43]:
input_dim = x_train.shape[1]
input_dim

122

# Stacked Contractive Autoencoder

In [44]:
import numpy as np
from keras.layers import Input, Dense, Reshape, Flatten, Conv2D, MaxPooling2D, UpSampling2D
from keras.models import Model
from keras.optimizers import Adam
from keras.regularizers import l2
import matplotlib.pyplot as plt 
from keras.layers import Input, Dense
from keras import regularizers
from keras.losses import mse
import keras.backend as K

# Create the contractive autoencoder
def create_autoencoder(input_shape, latent_dim, stack_depth):
    # Create input layer
    input_layer = Input(shape=input_shape)
    
    # Create the encoding layers
    encoded = input_layer
    for i in range(stack_depth):
        encoded = Dense(input_shape[0] * 2, activation='relu', kernel_regularizer=l2(1e-4))(encoded)
    
    # Create the decoding layers
    decoded = encoded
    for i in range(stack_depth):
        decoded = Dense(input_shape[0] * 2, activation='relu', kernel_regularizer=l2(1e-4))(decoded)
    
    # Create output layer
    output_layer = Dense(np.prod(input_shape), activation='sigmoid')(decoded)
    output_layer = Reshape(input_shape)(output_layer)
    
    # Compile the model
    autoencoder = Model(input_layer, output_layer)
    autoencoder.compile(optimizer=Adam(learning_rate=0.0001), loss='mse')
    
    return autoencoder

# Load your data here
data = x_train

# Define the shape of your input data    
input_shape = (122,)

# Define the latent dimension and stack depth
latent_dim = 64
stack_depth = 3

# Create the autoencoder
autoencoder = create_autoencoder(input_shape, latent_dim, stack_depth)

# Train the autoencoder
autoencoder.fit(x_train,x_train, epochs=10, batch_size=32, shuffle=True)

WARNING:tensorflow:From C:\Users\HP\anaconda3\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

WARNING:tensorflow:From C:\Users\HP\anaconda3\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

Epoch 1/10
WARNING:tensorflow:From C:\Users\HP\anaconda3\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

3937/3937 [==============================] - 27s 6ms/step - loss: 415030116352.0000
Epoch 2/10
3937/3937 [==============================] - 21s 5ms/step - loss: 415028084736.0000
Epoch 3/10
3937/3937 [==============================] - 21s 5ms/step - loss: 415030411264.0000
Epoch 4/10
3937/3937 [==============================] - 21s 5ms/step - loss: 415030050816.0000
Epoch 5/10
3937/3937 [==============================] - 21s 5ms/step - loss: 415029526528.0000
Epoch 6/10
3937/3937 [==============================] - 21s 5ms/step - loss: 415029100544.0000
Epoch 7/10
3937/3937 [==============================] - 21s 5ms/step - loss: 415030542336.0000
Epoch 8/10
3937/3937 [==============================] - 21s 5ms/step - loss: 415029231616.0000
Epoch 9/10
3937/3937 [==============================] - 21s 5ms/step - loss: 415030476800.0000
Epoch 10/10
3937/3937 [==============================] - 23s 6ms/step - loss: 415030575104.0000

In [45]:
x_train.shape

#autoencoder.summary()

(125972, 122)

In [48]:
import tensorflow as tf
encoder = tf.keras.Model(inputs=autoencoder.input,outputs=autoencoder.get_layer('dense_4').output)
x_features = encoder.predict(x_train)
x_features

3937/3937 [==============================] - 9s 2ms/step

array([[0.0000000e+00, 1.2904347e+01, 6.2440219e+00, ..., 2.3318696e+00,
        1.3327190e+01, 0.0000000e+00],
       [0.0000000e+00, 0.0000000e+00, 1.0570929e+00, ..., 3.2145100e+00,
        3.5394138e-01, 0.0000000e+00],
       [0.0000000e+00, 9.8865393e+02, 2.8022296e+02, ..., 4.1451149e+01,
        1.0420559e+03, 0.0000000e+00],
       ...,
       [0.0000000e+00, 3.1109311e+02, 9.4140244e+01, ..., 1.9052341e+01,
        3.2749493e+02, 0.0000000e+00],
       [0.0000000e+00, 0.0000000e+00, 9.3360507e-01, ..., 3.2759001e+00,
        5.0394154e-01, 0.0000000e+00],
       [0.0000000e+00, 1.4091888e+01, 5.5341721e+00, ..., 2.5638146e+00,
        1.5486118e+01, 0.0000000e+00]], dtype=float32)

In [50]:
x_test_features = encoder.predict(x_test)
x_features.shape

705/705 [==============================] - 2s 2ms/step

(125972, 244)

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt  # Add this line for plotting
from keras.models import Model
from keras.layers import Input, Dense
from keras import regularizers
from keras.losses import mse
import keras.backend as K

# ... (rest of your code)

# Shapes
SAE_n_inputs=x_train.shape[1] #--- No. of neurons for the input and output layers
SAE_n_hidden=16 #--- No. of neurons for the hidden layers (including bottleneck)

# Layers
SAE_visible = Input(shape=(SAE_n_inputs,), name='SAE-Input-Layer') #--- Input-Layer 
SAE_enc_hidden = Dense(units=SAE_n_hidden, activation='relu', name='SAE-Encoder-Hidden-Layer')(SAE_visible) #--- Encoder-Hidden-Layer 
SAE_bottleneck = Dense(units=SAE_n_hidden, activation='relu', activity_regularizer=keras.regularizers.L1(0.0001), name='SAE-Bottleneck-Layer')(SAE_enc_hidden) #--- Bottleneck-Layer
SAE_dec_hidden = Dense(units=SAE_n_hidden, activation='relu', name='SAE-Decoder-Hidden-Layer')(SAE_bottleneck) #--- Decoder-Hidden-Layer 
SAE_output = Dense(units=SAE_n_inputs, activation='sigmoid', name='SAE-Output-Layer')(SAE_dec_hidden) #--- Output-Layer

# Define Sparse autoencoder model
SAE_model = Model(inputs=SAE_visible, outputs=SAE_output, name='Sparse-Autoencoder-Model')

# Compile Sparse autoencoder model
SAE_model.compile(optimizer='adam', loss='mse')

# Print model summary
print(SAE_model.summary())


# Fit the Sparse autoencoder model to reconstruct input
SAE_history = SAE_model.fit(x_train, x_train, epochs=50, batch_size=16, verbose=1, validation_data=(x_test, x_test))


#---------- Plot a loss chart ----------#
fig, ax = plt.subplots(figsize=(16,9), dpi=300)
plt.title(label='SAE Model Loss by Epoch', loc='center')
ax.plot(SAE_history.history['loss'], label='Training Data', color='black')
ax.plot(SAE_history.history['val_loss'], label='Test Data', color='red')
ax.set(xlabel='Epoch', ylabel='Loss')
plt.legend()
plt.show()


#----------- Save SAE Encoder Model ----------#

# Define an encoder model without the decoder
SAE_encoder = Model(inputs=SAE_visible, outputs=SAE_bottleneck)

# Compile encoder model
SAE_encoder.compile(optimizer='adam', loss='mse')

# Save the encoder model to file
SAE_encoder.save(main_dir+'/data/SAE_encoder.h5')

# SVM

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report

In [ ]:
# Create SVM model
svm_model = SVC(kernel='linear',C=1)

# Train the model
svm_model.fit(x_features, y_train)

In [ ]:

# Make predictions
y_pred = svm_model.predict(x_test_features)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

print("Accuracy:", accuracy)
print("Classification Report:\n", report)